# 1. Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.

Examples

show_the_love([4, 1, 4]) ➞ [3, 3, 3]

show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]

show_the_love([2, 100]) ➞ [27, 75]

In [1]:
def show_the_love(numbers):
  min_num=min(numbers)
  total_removed=0
  for i in range(len(numbers)):
    if numbers[i]!=min_num:
      removed=numbers[i]*0.25
      total_removed+=removed
      numbers[i]-=removed
  numbers[numbers.index(min_num)]+=total_removed
  return numbers

show_the_love([2, 100])

[27.0, 75.0]

In [ ]:
show_the_love([4, 1, 4])

[3.0, 3.0, 3.0]

In [ ]:
show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

# 2. Create a function that takes in two words as input and returns a list of three
elements, in the following order:
1.Shared letters between two words.
2.Letters unique to word 1.
3.Letters unique to word 2.
Each element should have unique letters, and have each letter be
alphabetically sorted.
Examples
letters(&quot;sharp&quot;, &quot;soap&quot;) ➞ [&quot;aps&quot;, &quot;hr&quot;, &quot;o&quot;]
letters(&quot;board&quot;, &quot;bored&quot;) ➞ [&quot;bdor&quot;, &quot;a&quot;, &quot;e&quot;]
letters(&quot;happiness&quot;, &quot;envelope&quot;) ➞ [&quot;enp&quot;, &quot;ahis&quot;, &quot;lov&quot;]
letters(&quot;kerfuffle&quot;, &quot;fluffy&quot;) ➞ [&quot;flu&quot;, &quot;ekr&quot;, &quot;y&quot;]
# Even with multiple matching letters (e.g. 3 f&#39;s), there should
# only exist a single &quot;f&quot; in your first element.
letters(&quot;match&quot;, &quot;ham&quot;) ➞ [&quot;ahm&quot;, &quot;ct&quot;, &quot;&quot;]
# &quot;ham&quot; does not contain any letters that are not found already
# in &quot;match&quot;.

In [13]:
def letters(word1,word2):
  shared=''.join(sorted(set(word1)&set(word2)))
  unique1=''.join(sorted(set(word1)-set(word2)))
  unique2=''.join(sorted(set(word2)-set(word1)))
  return[shared,unique1,unique2]

In [11]:

letters("match", "ham")

['ahm', 'ct', '']

In [12]:
letters("happiness", "envelope")

['enp', 'ahis', 'lov']

In [4]:
letters("kerfuffle", "fluffy")

['flu', 'ekr', 'y']

In [6]:
letters("sharp", "soap")

['aps', 'hr', 'o']

In [8]:
letters("board", "bored")

['bdor', 'a', 'e']


# 3. Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.

Examples

pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]

pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]

pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]

pairs([]) ➞ []

In [21]:
def pairs(numbers):
  if len(numbers)==0:
    return []
  pairs=[]
  for i in range(len(numbers)//2):
    pairs.append([numbers[i],numbers[-(i+1)]])
  if len(numbers)%2==1:
    pairs.append([numbers[len(numbers)//2],numbers[len(numbers)//2]])
  return pairs

In [20]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [16]:
pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4]]

In [17]:
pairs([5, 9, 8, 1, 2])

[[5, 2], [9, 1], [8, 8]]

In [18]:
pairs([])

[]

# 4. Write a function that adds two numbers. The catch, however, is that the numbers will be strings.

Examples

add_str_nums("4", "5") ➞ "9"

add_str_nums("abcdefg", "3") ➞ "-1"

add_str_nums("1", "") ➞ "1"

add_str_nums("1874682736267235927359283579235789257", "32652983572985729") ➞ "1874682736267235927391936562808774986"

In [27]:
def add_str_nums(in_one,in_two):
  in_one= in_one if len(in_one)>0 else '0'
  in_two=in_two if len(in_two)>0 else '0'
  if in_one.isdigit()==False or in_two.isdigit()==False:
    output=-1
  else:
    output=int(in_one)+int(in_two)
  print(f'add_str_nums{in_one,in_two}->{str(output)}')

In [28]:
add_str_nums("4", "5")

add_str_nums('4', '5')->9

In [29]:
add_str_nums("abcdefg", "3")

add_str_nums('abcdefg', '3')->-1

In [30]:
add_str_nums("1", "")

add_str_nums('1', '0')->1

In [31]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729")

add_str_nums('1874682736267235927359283579235789257', '32652983572985729')->1874682736267235927391936562808774986

# 5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!

Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again.

Examples

unmix("123456") ➞ "214365"

unmix("hTsii  s aimex dpus rtni.g") ➞ "This is a mixed up string."

unmix("badce") ➞ "abcde"

In [38]:
def unmix(in_string):
  output=''
  for ele in range(0,len(in_string)-1,2):
    output+=in_string[ele+1]+in_string[ele]
    if len(in_string)%2!=0 and ele==len(in_string)//2:
      output+=in_string[-1]
  print(f'umix({in_string})->{output}')

unmix("123456")
unmix("hTsii  s aimex dpus rtni.g")
unmix("badce")

umix(123456)->214365
umix(hTsii  s aimex dpus rtni.g)->This is a mixed up string.
umix(badce)->abcde