1. 

Write a Python program to convert kilometers to miles?

In [3]:
km = eval(input("Enter the value in kilometers: "))

# 1 Kilometre = 0.621371 Mile
ratio = 0.621371

# Converting km to mi.
mi = km * ratio

print("The entered value in Miles: ", mi)

Enter the value in kilometers: 56.9
The entered value in Miles:  35.3560099

2

Write a Python program to convert Celsius to Fahrenheit?

In [5]:

celsius = eval(input("Enter value in celcius"))


fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

Enter value in celcius788.8
788.8 degree Celsius is equal to 1451.8 degree Fahrenheit

3

Write a Python program to display calendar?

In [6]:
import calendar
yy = int(input("Enter year: "))
mm = int(input("Enter month: "))
print(calendar.month(yy, mm))

Enter year: 2014
Enter month: 5
      May 2014
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

4. 


Write a Python program to solve quadratic equation?

In [9]:

import cmath

a = int(input("enter value of a"))
b = int(input("enter value of b"))
c = int(input("enter value of c"))

d = (b**2) - (4*a*c)

s1 = (-b-cmath.sqrt(d))/(2*a)
s2 = (-b+cmath.sqrt(d))/(2*a)
6
print('The solution are {0} and {1}'.format(s1,s2))

enter value of a1
enter value of b6
enter value of c5
The solution are (-5+0j) and (-1+0j)

5. 


Write a Python program to swap two variables without temp variable?

In [10]:
a=int(input("Enter 1st Number="))
b=int(input("Enter 2nd Number="))
print("before swapping:")
print("a=",a,"b=",b)
a=a+b
b=a-b
a=a-b
print("after swapping:")
print("a=",a,"b=",b)

Enter 1st Number=9
Enter 2nd Number=8
before swapping:
a= 9 b= 8
after swapping:
a= 8 b= 9