In [ ]:
def amplify(in_num):
  out_list=[]
  for ele in range(1,in_num+1):
    if ele%4==0:
      out_list.append(ele*10)
    else:
      out_list.append(ele)
  print(f'{in_num}->{out_list}')
amplify(4)
amplify(3)
amplify(25)

4->[1, 2, 3, 40]
3->[1, 2, 3]
25->[1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]

In [ ]:
def unique(in_list):
  out_num=''
  for ele in set(in_list):
    if in_list.count(ele)==1:
      out_num=ele
  print(f'{in_list}->{out_num}')
unique([3, 3, 3, 7, 3, 3])
unique([0, 0, 0.77, 0, 0])
unique([0, 1, 1, 1, 1, 1, 1, 1])

[3, 3, 3, 7, 3, 3]->7
[0, 0, 0.77, 0, 0]->0.77
[0, 1, 1, 1, 1, 1, 1, 1]->0

In [ ]:
import math
class Circle:
  def __init__(self,radius):
    self.radius=radius
  def getArea(self):
    print(f'Radius->{round(math.pi*self.radius*self.radius)}')
  def getPerimeter(self):
    print(f'Perimeter->{round(2*math.pi*self.radius)}')
circy= Circle(11)
circy.getArea()
circy.getPerimeter()

Radius->380
Perimeter->69

In [5]:
def sort_by_length(in_list):
  print(sorted(in_list,key=len))
sort_by_length(["Google", "Apple", "Microsoft"])
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])
sort_by_length(["Turing", "Einstein", "Jung"])

['Apple', 'Google', 'Microsoft']
['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']
['Jung', 'Turing', 'Einstein']

In [7]:
def is_triplet(a,b,c):
  if ((a**2+b**2)==(c**2)):
    print(f'{a,b,c}=>{True}')
  else:
    print(f'{a,b,c}=>{False}')
is_triplet(3, 4, 5)
is_triplet(3, 4, 5)
is_triplet(1, 2, 3)

(3, 4, 5)=>True
(3, 4, 5)=>True
(1, 2, 3)=>False