1.What are the two values of the Boolean data type? How do you write them?

Two Types Boolean Data type ,True and False

In [1]:
a = True
type(a)
 
b = False
type(b)

bool

2. What are the three different types of Boolean operators?

The three basic boolean operators are: AND, OR, and NOT.

3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

![logical.png]()

4. What are the values of the following expressions?
(5 > 4) and (3 == 5)

not (5 > 4)

(5 > 4) or (3 == 5)

not ((5 > 4) or (3 == 5))

(True and True) and (True == False)

(not False) or (not True)

In [2]:
(5 > 4) and (3 == 5)

False

In [3]:
not (5 > 4)

False

In [4]:
(5 > 4) or (3 == 5)

True

In [5]:
not ((5 > 4) or (3 == 5))

False

In [6]:
(True and True) and (True == False)

False

In [7]:
(not False) or (not True)

True

5. What are the six comparison operators?

1 Less than (<) 

2.Greater than (>)

3.Less than or equal to (<=) 

4.Greater than or equal to (>=)

5.Equal to (===) 

6.Not equal to (!==)

6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

The “=” is an assignment operator is used to assign the value on the right to the variable on the left.

The ‘==’ operator checks whether the two given operands are equal or not. If so, it returns true. Otherwise it returns false.

In [11]:
a = 10 #assignment operator
print(a)

10

In [10]:
5==5 #equal to operator

True

7. Identify the three blocks in this code:

spam = 0

if spam == 10:

print('eggs')

if spam > 5:

print('bacon')

else:

print('ham')

print('spam')

print('spam')

In [15]:
spam = 0
if spam == 10:
   print('eggs')
if spam > 5:
    print('bacon')
else:
  print('ham')
  print('spam')
  print('spam')

ham
spam
spam

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [24]:
spam = int(input("Enter spam no : "))
if spam == 1:
   print('Hello')
elif spam == 2:
    print('Howdy')
else:
  print('Greetings!')

Enter spam no : 1
Hello

9.If your programme is stuck in an endless loop, what keys you’ll press?

Ctrl + C

10. How can you tell the difference between break and continue?

	
break:: It eliminates the execution of remaining iteration of loop

continue::It will terminate only the current iteration of loop.

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

In [25]:
 range(10)

range(0, 10)

In [26]:
range(0, 10)

range(0, 10)

In [27]:
range(0, 10, 1)

range(0, 10)

In [28]:
for i in range(10):
    print(i, end=" ")
print()

0 1 2 3 4 5 6 7 8 9

In [29]:
for i in range(0,10):
    print(i, end=" ")
print()

0 1 2 3 4 5 6 7 8 9

In [30]:
for i in range(0,10,1):
    print(i, end=" ")
print()

0 1 2 3 4 5 6 7 8 9

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [31]:
for i in range(1,11):
    print(i, end=" ")
print()

1 2 3 4 5 6 7 8 9 10

In [32]:
i = 1
while(i<=10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

In [48]:
def spam(bacon):
  spam = int(input("Enter spam no : "))
  if spam == 1:
   print('Hello')
  elif spam == 2:
    print('Howdy')
  else:
   print('Greetings!')
  return

In [50]:
spam()

TypeError: ignored

In [51]:
def spam():
  spam = int(input("Enter spam no : "))
  if spam == 1:
   print('Hello')
  elif spam == 2:
    print('Howdy')
  else:
   print('Greetings!')
  return

In [52]:
spam()

Enter spam no : 5
Greetings!