Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.


Q-20. Write an SQL query to fetch the list of employees with the same salary.

20 SELECT * FROM employee ORDER BY salary ASC;

SELECT first_name, last_name, dept_name,current_salary FROM ( SELECT first_name, last_name,dept_name, current_salary, ROW_NUMBER() over( order by current_salary desc) as highest_salary FROM worker ) worker WHERE highest_salary <= 5