Q-17.  Write an SQL query to show the top n (say 10) records of a table.

Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

SELECT * FROM WORKER LIMIT 10;

SELECT DISTINCT (SALARY) FROM WORKER ORDER BY DESC LIMIT 1 OFFSET 5;