Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

 Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

SELECT SUBSTRING(FIRST_NAME,1,3) FROM worker56;


SELECT POSITION('a' IN FIRST_NAME) FROM worker56 WHERE FIRST_NAME = 'amitabh';

SELECT first_name, last_name, salary, department FROM Worker56 w WHERE salary = (SELECT MAX(salary) FROM Worker56 WHERE department = w.department);