Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

SELECT*FROM WORKER WHERE YEAR(DATE OF JOINING)=2014 AND MONTH(DATE OF JOINING)=2;

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

SELECT GENDER,DEPARTMENT,COUNT(*) FROM WORKER GROUP BY GENDER,DEPARTMENT HAVING COUNT(*)>1;

Q-3. How to remove duplicate rows from Employees table.

DELETE c1 FROM worker c1
INNER JOIN worker c2
WHERE
c1.salary > c2.salary AND
c1.LAST_NAME = c2.LAST_NAME